# {{ ansible_managed }}

*filter

:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p ipv6-icmp -j ACCEPT
{% if ssh.enable_sshd %}
-A INPUT -p TCP --dport {{ ssh.port }} -j ACCEPT
{% endif %}

COMMIT
