# {{ ansible_managed }}

*filter

:INPUT       DROP [0:0]
:FORWARD     DROP [0:0]
:OUTPUT      ACCEPT [0:0]

# input chain
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
{% if ssh.enable_sshd %}
-A INPUT -p TCP --dport {{ ssh.port }} -j ACCEPT
{% endif %}
-A INPUT -n conntrack --cstate RELATED,ESTABLISHED -j ACCEPT 
-A INPUT -p tcp -j REJECT --reject-with tcp-reset
-A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
-A INPUT -j REJECT --reject-with icmp-proto-unreachable

COMMIT
