---

- name: rkhunter propupdate
  ansible.builtin.command: rkhunter --propupd

- name: restart chrony
  ansible.builtin.service: name=chrony state=restarted

- name: enable chrony
  ansible.builtin.serice: name=chrony state=started enabled=true
