---

- name: install urxvt terminal emulator
  community.general.pacman:
    name: rxvt-unicode
    state: present
  register: task_result
  until: task_result is success
  retries: 10
  delay: 2

- name: install alacritty terminal emulator
  community.general.pacman:
    name: "alacritty"
    state: present
  register: task_result
  until: task_result is success
  retries: 10
  delay: 2

- name: install kitty terminal emulator
  community.general.pacman:
    name: kitty
    state: present
  register: task_result
  until: task_result is success
  retries: 10
  delay: 2

- name: install tmux terminal multiplexer
  community.general.pacman:
    name: tmux
    state: present
  register: task_result
  until: task_result is success
  retries: 10
  delay: 2
